AUTH_42_SCHOOL_ID=
AUTH_42_SCHOOL_SECRET=

AUTH_SECRET=# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_TRUST_HOST=
HOSTNAME=

PORT=
FRONTEND_PORT=
POCKETBASE_PORT=

NEXT_PUBLIC_POCKETBASE_URL=
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=
